{% extends "layout.html" %}
{% block content%}
   <div class="content-section">
    <div class="media">
       <img class="rounded-circle account-img" src="{{ image_file }}">
       <div class="media-body">
         <h2 class="account-heading">{{ current_user.username }}</h2>
         <p class="text-secondary">{{ current_user.email }}</p>
       </div>
     </div>
     <h2>Update Password</h2>
     <form action="" method="POST">
        <input required type="password" name="old_password" id="" class="form-control form-control-lg mb-4" placeholder="Old password">
        <input required type="password" name="new_password" id="" class="form-control form-control-lg mb-4" placeholder="New password">
        <input required type="password" name="confirm_password" id="" class="form-control form-control-lg mb-4" placeholder="Confirm New password">
        <button type="submit" class="btn btn-primary">Update Password</button>
     </form>
   </div>
{% endblock content%}